*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-holder{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.card{
    max-width: 320px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

.card img{
    max-width: 290px;
    border-radius: 10px;
    margin: 15px 15px 0 15px;
}


.card h1{
    font-size: 1.4rem;
    font-weight: 700;
    padding: 22px;
    color: hsl(218, 44%, 22%);
}

.card p {
    font-size: 0.95rem;
    font-weight: 400;
    margin: 0 30px 30px 30px;
    color: hsl(220, 15%, 55%);
}

.attribution{
    padding-top: 20px;
}

.attribution a{
    text-decoration: none;
    font-weight: 700;
}
